// Here we define the lower and upper bounds for each media size
$my-mobile-range: (0px, 635px);
$my-small-range: (636px, 781px); /* 0, 781px */
$my-medium-range: (781px, 1024px); /* 782px, 1024px */
$my-large-range: (1025px, 1440px); /* 1025px, 1440px */

// Media Queries
$screen: "only screen" !default;

$th-mobile-up: $screen !default;
//$th-mobile-up: "#{$screen} and (min-width:#{lower-bound($my-mobile-range)}) and (max-width: #{upper-bound($my-mobile-range)})" !default;
$th-small-only: "#{$screen} and (min-width:#{lower-bound($my-small-range)}) and (max-width: #{upper-bound($my-small-range)})" !default;
$th-medium-up: "#{$screen} and (min-width:#{lower-bound($my-medium-range)})" !default;
$th-medium-only: "#{$screen} and (min-width:#{lower-bound($my-medium-range)}) and (max-width:#{upper-bound($my-medium-range)})" !default;
$th-large-up: "#{$screen} and (min-width:#{lower-bound($my-large-range)})" !default;
$th-large-only: "#{$screen} and (min-width:#{lower-bound($my-large-range)}) and (max-width:#{upper-bound($my-large-range)})" !default;

.top-header {
	padding-top:10px;
	padding-bottom:10px;
}

.top-header-text {
	font-family: Arial;
	color:#3E3E29;
	position:absolute;
	font-size: 2.70rem
}

@media #{$th-mobile-up} { 
	.top-header-text {
		font-size: 18px;
		height:45px;
		margin-top:25px;
	}
}

@media #{$th-small-only} { 
	.top-header-text {
		font-size: 24px;
		height:45px;
		margin-top:45px;
	}
}

@media #{$th-medium-up} { 
	.top-header-text {
		font-size: 30px;
		height:100px;		
		margin-top:55px;
	}
}
@media #{$th-medium-only} { 
	.top-header-text {
		font-size: 30px;
		height:100px;		
	}
}

@media #{$th-large-up} { 
	.top-header-text {
		font-size: 38px;
	}
}
@media #{$th-large-only} { 
	.top-header-text {
		font-size: 38px;
	}
}

div.main-feed {
	padding-right: 35px;
}

ul.main-nav {
	padding-top:0px;
	li {
		background-color:#58585B;
		color:white;
		font-family:Arial;
		font-size:14px;
		height:30px;
		vertical-align: middle;
		margin-top:0px;
		margin-bottom:5px;
	
		a:link {
			color:white;
			margin-top:auto;
			margin-bottom:auto;
			width:100%;
			padding-left:15px;
			padding-top:6px;
		}
		a:hover {
			color:white;
			background:transparent;
		}
		a:visited {
			color: white;
		}
	}

	li.contact {
		background: #FF9900;
	}
	li.directions {
		background: #FF0066;
	}
	li.service {
		background: #E60000;
	}
	li.how-to-travel {
		background: #2E8A2E;
	}
	li.employment {
		background: #B800E6;
	}
}

//Home header nav buttons.
// TODO: refactor
ul.top-left-nav {
	padding-top:0px;
	line-height: 29px;
	vertical-align: middle;
	li {
		background-color:#0078C1;
		color:white;
		font-family:Arial;
		font-size:14px;
		height:30px;
		vertical-align: middle;
		margin-top:5px;
		margin-bottom:5px;
		margin-right: 5px;
		width: 100%;
	
		a:link {
			color:white;
			margin-top:auto;
			margin-bottom:auto;
			width:100%;
			padding-left:15px;
			padding-top:6px;
		}
		a:hover {
			color:white;
			background:transparent;
		}
	}
}
ul.top-right-nav {
	padding-top:0px;
	line-height: 29px;
	vertical-align: middle;
	li {
		background-color:#0078C1;
		color:white;
		font-family:Arial;
		font-size:14px;
		height:30px;
		vertical-align: middle;
		margin-top:5px;
		margin-bottom:5px;
		margin-right: 5px;
		width: 100%;
	
		a:link {
			color:white;
			margin-top:auto;
			margin-bottom:auto;
			width:100%;
			padding-left:15px;
			padding-top:6px;
		}
		a:hover {
			color:white;
			background:transparent;
		}
	}

}
img.top-nav {
	width: 31%;
	max-width: 250px;
	height: 250px;
	//Cross browser greyscaling
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
}
img.top-center-nav {
	height: 250px;
}
div.nav {
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
a.nav:visited {
	color: white;
}

div.follow-us {
	font:Arial;
	font-size:14px;
	color:#58585B;
	text-align:right;
	vertical-align:middle;
	padding-right: 20px;
	.fa {
		font-size:26px;
	}
}

div.rider-alerts,
div.fixed-route,
div.dial-a-ride,
div.inter-county {
	border-radius:10px;
	border-width:2px;
	border-style: solid;
	margin-top:15px;
	height:auto;
}

div.rider-alerts {
	border-color:#679045;
	background-color: #679045;
}

div.fixed-route {
	border-color:#AA0534;
	background:#AA0534;
}
div.fixed-route-label {
	h5 {
		color: white;
	}	
}

div.dial-a-ride {
	border-color:#FF3399;
	background:#FF3399;
}
div.dial-a-ride-label {
	h5 {
		color:white;
	}
}

div.inter-county {
	border-color:#FFCC00;
	background:#FFCC00;
}
div.inter-county-label {
	h5 {
		color:white;
	}
}

div.home-box-content {
	background: white;
	margin: 3px;
	padding: 20px;
	font-family: inherit;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	ul {
		list-style-type: circle;
	}
}

h5.home-box-label {
	font-family: inherit;
	font-size: x-large;
}

a.button-logged-in {
	background: #008cba;
}

img.side-logos {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

blockquote {
	font-size: smaller;
}

a.social-media-twitter {
	color: #008cba;
	text-decoration:none;
	&:hover {
		color: #008cba;
		text-decoration:none;
		background-color: white;
	}
	&:visited {
		color: #008cba;
	}
}
a.social-media-facebook {
	color: #3B5998;
	text-decoration:none;
	&:hover {
		color: #3B5998;
		text-decoration:none;
		background-color: white;
	}
	&:visited {
		color: #3B5998;
	}
}

div.scrollable {
	overflow:auto;
}

div.home-body {
	padding-left: 0px;
	padding-right: 0px;
}