// Here we define the lower and upper bounds for each media size
$my-mobile-range: (0px, 635px);
$my-small-range: (636px, 781px); /* 0, 781px */
$my-medium-range: (781px, 1024px); /* 782px, 1024px */
$my-large-range: (1025px, 1440px); /* 1025px, 1440px */

// Media Queries
$screen: "only screen" !default;

$th-mobile-up: $screen !default;
//$th-mobile-up: "#{$screen} and (min-width:#{lower-bound($my-mobile-range)}) and (max-width: #{upper-bound($my-mobile-range)})" !default;
$th-small-only: "#{$screen} and (min-width:#{lower-bound($my-small-range)}) and (max-width: #{upper-bound($my-small-range)})" !default;
$th-medium-up: "#{$screen} and (min-width:#{lower-bound($my-medium-range)})" !default;
$th-medium-only: "#{$screen} and (min-width:#{lower-bound($my-medium-range)}) and (max-width:#{upper-bound($my-medium-range)})" !default;
$th-large-up: "#{$screen} and (min-width:#{lower-bound($my-large-range)})" !default;
$th-large-only: "#{$screen} and (min-width:#{lower-bound($my-large-range)}) and (max-width:#{upper-bound($my-large-range)})" !default;

//SMART wants Calibri for all elements.
*{font-family: 'istok web', sans-serif;}

body {
  background: image-url('frosty.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.nav, div.home-body {
	background-color: #DBD7CD;
}

div.side-nav {
	min-height: 720px;
}

div#content-body {
	background-color: #DBD7CD;
}

.top-header {
	padding-bottom:10px;

	background-color: rgb(206, 203, 203);
	opacity: .7;
	border-radius: 8px 8px 0 0;
	margin-top: 20px;
}

.top-header-text {
	font-family: Arial;
	color: lighten(#58585B, 5%);
	position:absolute;
	font-size: 2.70rem;
	white-space: nowrap;
	padding-bottom: 85px;
	//background-color: #DBD7CD;
}

@media #{$th-mobile-up} { 
	.top-header-text {
		//font-size: 18px;
		font-size: 30px;
		height:45px;

		//margin-top:55px;
		margin-top:15px;
		padding-left: 3px;
	}
}

@media #{$th-small-only} { 
	.top-header-text {
		font-size: 24px;
	}
}

@media #{$th-medium-up} { 
	.top-header-text {
		font-size: 30px;
	}
}
@media #{$th-medium-only} { 
	.top-header-text {
		font-size: 30px;
		height: 30px;
	}
}

@media #{$th-large-up} { 
	.top-header-text {
		font-size: 42px;
		height: 42px;
	}
}
@media #{$th-large-only} { 
	.top-header-text {
		font-size: 42px;
		height: 42px;
	}
}

div.top-header-label {
	position:absolute;
	left:0;
	top:0;
	padding-top:50px;
}

div.main-feed {
	padding-right: 35px;
}

ul.main-nav {
	padding-top:0px;
	li {
		background-color:#0078C1;
		border-radius: 5px;
		color:white;
		font-family:Arial;
		font-size:14px;
		height:30px;
		vertical-align: middle;
		margin-top:0px;
		margin-bottom:5px;
	
		a:link {
			color:white;
			margin-top:auto;
			margin-bottom:auto;
			width:100%;
			padding-left:15px;
			padding-top:6px;
		}
		a:hover {
			color:white;
			background:transparent;
		}
		a:visited {
			color: white;
		}
	}
}

p#services {
	text-align: center;
}

//Home header nav buttons.
// TODO: refactor
ul.top-left-nav {
	padding-top:0px;
	line-height: 29px;
	vertical-align: middle;
	li {
		background-color:#0078C1;
		border-radius: 5px;
		color:white;
		font-family:Arial;
		font-size:14px;
		height:30px;
		vertical-align: middle;
		margin-top:5px;
		margin-bottom:5px;
		margin-right: 5px;
		width: 100%;
	
		a:link {
			color:white;
			margin-top:auto;
			margin-bottom:auto;
			width:100%;
			padding-left:15px;
			padding-top:6px;
		}
		a:hover {
			color:white;
			background:transparent;
		}
	}
}
ul.top-right-nav {
	padding-top:0px;
	line-height: 29px;
	vertical-align: middle;
	li {
		background-color:#0078C1;
		border-radius: 5px;
		color:white;
		font-family:Arial;
		font-size:14px;
		height:30px;
		vertical-align: middle;
		margin-top:5px;
		margin-bottom:5px;
		margin-right: 5px;
		width: 100%;
	
		a:link {
			color:white;
			margin-top:auto;
			margin-bottom:auto;
			width:100%;
			padding-left:15px;
			padding-top:6px;
		}
		a:hover {
			color:white;
			background:transparent;
		}
	}

}
img.top-nav {
	width: 31%;
	max-width: 250px;
	height: 250px;
	//Cross browser greyscaling
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
    border-radius: 8px;
}
img.top-nav-large {
	width: 100%;
	max-width: 250px;
	height: 250px;
	//Cross browser greyscaling
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
    border-radius: 8px;
}

img.top-center-nav {
	height: 250px;
    border-radius: 8px;
}
div.nav {
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
a.nav:visited {
	color: white;
}

div.follow-us {
	font:Arial;
	font-size:14px;
	color: lighten(#58585B, 5%);
	text-align:right;
	vertical-align:middle;
	//padding-right: 20px;
	.fa {
		font-size:26px;
	}
}

div.rider-alerts,
div.fixed-route,
div.dial-a-ride,
div.inter-county {
	border-radius:10px;
	border-width:2px;
	border-style: solid;
	margin-top:15px;
	height:auto;
}

div.rider-alerts-column {
	padding-left: 0px;
}
div.rider-alerts {
	border-color:#3F3F3F;
	//background-color: #3F3F3F;
	background-image: image-url("rider-alerts-box-bg.png");
	margin-top: 0px;
}
div.rider-alerts-label {
	img {
		padding-top: 25px;
		padding-left: 10px;
	}
}
div.rider-alerts-content {
	background: white;
	margin: 3px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 15px;
	padding-bottom: 7px;
	font-family: inherit;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	min-height: 120px;
	ul {
		list-style-type: circle;
		margin-bottom: 0px;
	}
}
img.rider-alerts {

}

div.fixed-route-column {
	padding-left: 0px;
	padding-right: 80px; 
}
div.fixed-route {
	border-color:#AA0534;
	//background:#AA0534;
	background-image: image-url("fixed-route-box-bg.png");
	background-size: 758px 278px;
}
div.fixed-route-label {
	padding-top: 20px;
	h5 {
		color: white;
	}
	img {
		padding-top: 55px;
		margin-left: 50px;
	}	
}
div.fixed-route-logos {
	text-align: center;
	padding-bottom: 20px;
	img {
		padding-left: 5px;
		padding-right: 5px;
	}
}
img.fare-free {
	position: absolute;
	top: 100px;
	left: -70px;
}

div.dial-a-ride-column {
	padding-left: 60px;
}
div.dial-a-ride {
	border-color:#679045;
	//background:#679045;
	background-image: image-url("dial-a-ride-box-bg.png");
	background-size: 341px 130px;
}
div.dial-a-ride-label {
	width: 40%;
	h5 {
		color:white;
	}
	img {
		padding-top: 50px;
		margin-left: 30px;
	}
}
ul.dial-a-ride {
	li {
		font-size: x-small;
	}
}
p.dial-a-ride-center {
	text-align: center;
	padding-top: 5px;
	margin-bottom: 5px;
	word-wrap: break-word;
}

div.inter-county {
	border-color:#E4B43A;
	//background:#E4B43A;
	background-image: image-url("intercity-tickets-box-bg.png");
	background-size: 411px 129px;
}
div.inter-county-label {
	width: 40%;
	h5 {
		color:white;
	}
	img {
		padding-top: 35px;
		margin-left: 15px;
	}
}
p.intercity-center {
	text-align: center;
	padding-top: 35px;
	padding-bottom: 10px;
}

div.home-box-content {
	background: white;
	margin: 3px;
	padding: 20px;
	font-family: inherit;
	border-radius: 10px;
	ul {
		list-style-type: circle;
		margin-bottom: 0px;
	}
}
p.home-box-center {
	text-align: center;
}

div.home-box-column {
	padding-right: 20px;
}

h5.home-box-label {
	font-family: inherit;
	font-size: x-large;
}

a.button-logged-in {
	background: #008cba;
}

img.side-logos {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

blockquote {
	font-size: smaller;
}

a.social-media-twitter {
	color: #008cba;
	text-decoration:none;
	&:hover {
		color: #008cba;
		text-decoration:none;
		background-color: white;
	}
	&:visited {
		color: #008cba;
	}
}
a.social-media-facebook {
	color: #3B5998;
	text-decoration:none;
	&:hover {
		color: #3B5998;
		text-decoration:none;
		background-color: white;
	}
	&:visited {
		color: #3B5998;
	}
}

div.scrollable {
	overflow:auto;
}

div#recent_tweets {
	ul {
		li {
			font-size: small;
		}
	}
}

p.latah-county-logo {
	text-align: center;
	font-size: x-small;
	margin-top: 0;
}

div.home-body {
	padding-left: 0px;
	padding-right: 0px;
	min-height: 720px;
}

div.alert-box {
	max-width: 720px;
}

a.img-link {
	&:hover {
		text-decoration:none;
		background-color: white;
	}
	&:visited {
		text-decoration:none;
		background-color: white;
	}
}