      <!-- Main Feed -->
      <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
      <div class="large-9 columns">
        <div class="panel">
          <h4 class="hide-for-small">Rider Alerts<hr/></h4>
          <h5 class="subheader">Live services and social media feeds.</h5>
          <%= render :partial => "pages/recent_tweets" %>
        </div>

        <div class="row">
          <div class="large-6 small-6 columns">
            <div class="panel">
              <h5>Moscow Fixed Rate</h5>
              <h5>Fare Free</h5>
              <ul>
                <li>Schedule (pdf)</li>
                <li>How to / rules</li>
                <li>Idaho 511</li>
                <li>Google Transit</li>
                <li>Bing Transit</li>
                <li>Closures</li>
              </ul>
            </div>
          </div>

          <div class="large-6 small-6 columns">
            <div class="panel">
              <h5>Dial a Ride</h5>
              <ul>
                <li>Guide / How To</li>
                <li>ADA Priority</li>
                <li>Medicard</li>
                <li>Scheduling</li>
            </ul> 
            </div>
          </div>

          <div class="large-6 small-6 columns">
            <div class="panel">
              <h5>Inter-county Tickets</h5>
              <ul>
                <li>How To / Info</li>
                <li>NWT</li>
                <li>Greyhound</li>
              </ul>
            </div>
          </div>
        </div>
   
    </div>