<%
    twiter_username = "r2transit"
    #How often to break the cache and updates tweets. Rate limited
    # per Twitter usage policy.
    tweet_refresh = 15 #minutes
%>

<div id="recent_tweets">
<% cache(:action => "recent_tweets", :expires_in => tweet_refresh.minutes) do %>
    <% @twitter_client.user_timeline(twiter_username, {:count => 3}).each do |tweet| %>
       <blockquote><%= tweet.text %></blockquote>
       <div class="from">&mdash; @<%= tweet.user.screen_name %></div>
    <% end %>
<% end %>

<hr />

<p>Updated every <%= tweet_refresh %> minutes. <%= link_to "See all...", "https://www.twiter.com/#{twiter_username}"%></p>
</div>