<%
    twiter_username = "r2transit"
    #How often to break the cache and updates tweets. Rate limited
    # per Twitter usage policy.
    tweet_refresh = 15 #minutes
%>


<div id="recent_tweets">
<% cache({:action => 'home', :action_suffix => 'recent_tweets'}, :expires_in => tweet_refresh.minutes) do %>
  <ul>
    <% begin %>
        <% last_refresh = Time.now() %>
        <% @twitter_client.user_timeline(twiter_username, {:count => 3}).each do |tweet| %>
          <% month_name = Date::MONTHNAMES[tweet.created_at.month] %>
          <% day = tweet.created_at.day %>
           <li><%= "#{tweet.user.name} @ #{month_name} #{day}: #{tweet.text}" %></li>
           <!--&mdash; @<%= tweet.user.screen_name %>-->
        <% end %>
        <% last_refresh = Time.now() %>
    <% rescue => e %>
        <p><b>Twitter error: <%= e.to_s %></b></p>
    <% end %>
    <!--"Last update at <%= last_refresh %>">-->
  </ul>
</div>
<% end %>