<!-- Main Feed -->
<!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
<div class="row main-feed">
  <div class="row">
    <div class="large-13 small-13 large-offset-1 small-offset-1 columns">
      <div class="rider-alerts home-box">
        <div class="row">
           <div class="small-5 columns">
              <%= image_tag("rider-alerts-image.png", width:190)%>
           </div>
          <div class="small-9 columns scrollable">
            <div class="home-box-content rider-alerts-content">
              <%= render :partial => "pages/recent_tweets" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-4 small-4 large-offset-1 small-offset-1 columns">
      <!--Grid placeholder-->
    </div>
    <div class="large-10 small-10 large-offset-1 small-offset-1 columns">
      <div class="fixed-route home-box">
        <div class="row">
          <div class="small-5 columns fixed-route-label">
            <h5 class="home-box-label">MOSCOW FIXED ROUTE</h5>
            <h5 class="home-box-label">FARE FREE!</h5>
          </div>
          <div class="small-8 columns">
            <div class="home-box-content">
              <ul class="small-block-grid-2">
                <li>SCHEDULE (PDF)</li>
                <li>HOW TO / RULES</li>
                <li>IDAHO 511</li>
                <li>GOOGLE TRANSIT</li>
                <li>BING TRANSIT</li>
                <li>CLOSURES</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-4 small-4 large-offset-1 small-offset-1 columns">
      <!--Grid placeholder-->
    </div>
    <div class="large-9 small-9 large-offset-1 small-offset-1 columns">
      <div class="dial-a-ride home-box">
        <div class="row">
          <div class="small-4 columns dial-a-ride-label">
           <h5 class="home-box-label">DIAL A RIDE</h5>
          </div>
          <div class="small-8 columns">
            <div class="home-box-content">
              <ul class="small-block-grid-2">
                <li>GUIDE / HOW TO</li>
                <li>ADA PRIORITY</li>
                <li>MEDICAID</li>
                <li>SCHEDULING</li>
              </ul>
            </div>
          </div>
        </div>      
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-5 small-5 large-offset-1 small-offset-1 columns">
      <!--Grid placeholder-->
    </div>
    <div class="large-9 small-9 large-offset-1 small-offset-1 columns">
      <div class="inter-county home-box">
        <div class="row">
          <div class="small-4 columns inter-county-label">
            <h5 class="home-box-label">INTERCITY TICKETS</h5>
          </div>
          <div class="small-8 columns">
            <div class="home-box-content">
              <ul class="small-block-grid-2">
                <li>HOW TO / INFO</li>
                <li>NWT</li>
                <li>GREYHOUND</li>
              </ul>
            </div>
          </div>
        </div>       
      </div>
    </div>
  </div>
</div>

<div class="slideshow-hidden">
  <% @images.each do |image| %>
    <%= image_tag("home_banner/cropped/#{image.split('/').last}", height:296, width:317) %>
  <% end %>
</div>